# Readme
##Introduction:
In this file there is 1 folder 2 excel file and 2 sql files we have use java(swing GUI) and my sql as database 
###Task Description:
In this task we had to make a signup form and to add a event whos work is to copy data is to specific time. 
###About Code:
All the relevant information are provided in the comment of the code make sure you have Java JDK and netbeans as an IDE, MySql as database.
